<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
  <title><%= @title %></title>
  <link rel="stylesheet" type="text/css" href="css/markd.css" />
  <link rel="stylesheet" type="text/css" media="print" href="css/markd-print.css" />
  <link rel="stylesheet" type="text/css" href="css/prettify.css" />
</head>

<body>
  
<%= @md_html %>

<script lang="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/prettify.js"></script>
<script lang="text/javascript" src="js/markd.js"></script>

</body>
</html>
